# overleaf
ArticleOverleaf/

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.res

.DS_Store

# emacs
*~
\#*\#

# At
Data/AthalianaGegMapLines/call_method_75/*
Data/AthalianaGegMapLines/ancestral_alleles.txt

# vep file
*.fas
*.fas.index
*.gff
Data/vep/arabidopsis_thaliana/

# latex
*.pdf
*.aux
*.log
Figure*/Figures/*.tex
*.dvi
*.ok
*.notok
*.out
*.auxlock
*.synctex.gz
*.tex.backup
*.fdb_latexmk
*.fls
Article/diff.tex
Article/OldVersion/

# Rmd
*.html

# fig
*.png

# others
*.zip
CopyOfArticle2_TESS3/
DockerTest/
panther_fdr.txt
panther_top.txt